<ion-view view-title="Vocare">
        <ion-content class="padding">
          <h3>¿Listo para empezar?</h3>
           <h4>Instrucciones</h4>
           <p>Para ver las preguntas desliza el dedo hacia la izquierda</p>
           <p>Para Contestarlas solo responde pulsando el boton "me interesa" o "no me interesa"</p>
           <p>Puedes ver tus resultados en cualquier momento presionado el boton "ver resultados"
          <p>Por favor responde con franqueza y honestidad, eso te ayudara a observar tus posibles opciones de carrera.</p>
          <h4></h4>
          <p>Presiona el boton para empezar</p>
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Empezar</a>
          </p>
        </ion-content>
      </ion-view>