<ion-view title="Developers">
        <ion-content>
          <div class="list">
            <div class="item">
              <p>Gustavo Ivan Martinez Linares
              <p>al11760506@ite.edu.mx
            </div>
            <div class="item">
              <p>Santiago Ignacio Enrique
              <p>al11760784@ite.edu.mx
            </div>
             <div class="item">
              <p>Baltazar Bautista Velasco
              <p>al11760364@ite.edu.mx
            </div>
          </div>
        </ion-content>
      </ion-view>