  <ion-view view-title="Ingeniería electrónica">
        <ion-content class="padding">
          <p>La Ingeniería electrónica es una rama de la ingeniería, basada en la electrónica, que se encarga de resolver problemas de la ingeniería tales como el control de procesos industriales, la transformación de la electricidad para el funcionamiento de diversos tipos y tiene aplicación en la industria, en las telecomunicaciones, en el diseño y análisis de instrumentación electrónica, microcontroladores y microprocesadores.</p>
          <p>
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
            <a class="button icon ion-chevron-right" href="#/tab/facts6">Ing.Gestión empresarial</a>
          </p>
        </ion-content>
      </ion-view>