<ion-view view-title="Ingeniería Electromecánica">
        <ion-content class="padding">
          <p>La Ingeniería electromecánica es una ingeniería basada en la electromecánica, entendida como la aplicación híbrida que surge de la combinación sinérgica de distintas áreas del conocimiento, como el electromagnetismo, la electrónica, la electricidad y la mecánica. Se aplica principalmente en mecanismos eléctricos, máquinas industriales, generación y transformación de energía.</p>
          <p>
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
            <a class="button icon ion-chevron-right" href="#/tab/facts5">Ing.Eletrónica</a>
          </p>
        </ion-content>
      </ion-view>