<ion-view view-title="Ingeniería Mecatrónica">
        <ion-content class="padding">
          <p>	
La ingeniería mecatrónica es una disciplina que une la ingeniería mecánica, ingeniería electrónica, ingeniería de control e ingeniería informática, y sirve para diseñar y desarrollar productos que involucren sistemas de control para el diseño de productos o procesos inteligentes, lo cual busca crear maquinaria más compleja para facilitar las actividades del ser humano a través de procesos electrónicos en la industria mecánica, principalmente. Debido a que combina varias ingenierías en una sola, su punto fuerte es la versatilidad.</p>
          <p>
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
           
          </p>
        </ion-content>
      </ion-view>