 <ion-view view-title="Ingeniería industrial">
        <ion-content class="padding">
          <p>La ingeniería industrial es una ciencia de la ingeniería que se ocupa del desarrollo, mejora, implantación y evaluación de sistemas integrados de gente, riqueza, conocimientos, información, equipamiento, energía, materiales y procesos. La ingeniería industrial utiliza los principios, métodos del análisis, síntesis de la ingeniería y el diseño para especificar, predecir y evaluar los resultados obtenidos de tales sistemas</p>
          <p>
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
            <a class="button icon ion-chevron-right" href="#/tab/facts3">Lic.Administración</a>
          </p>
        </ion-content>
      </ion-view>