<ion-view view-title="Lic.Administración">
        <ion-content class="padding">
          <p>La carrera de Licenciado en Administración aspira formar profesionales con suficientes capacidad para fomentar una visión integral sobre los objetivos de las organizaciones y sus estrategias mediante la planeación, la organización, la dirección y el control; en las instituciones públicas, privadas y sociales. </p>
          <p>
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
            <a class="button icon ion-chevron-right" href="#/tab/facts4">Ing.Electromecánica</a>
          </p>
        </ion-content>
      </ion-view>