<ion-view view-title="Ingeniería Gestión empresarial">
        <ion-content class="padding">
          <p>	
El Ingeniero en Gestión Empresarial fomenta y promueve el cambio organizacional en las instituciones, crea nuevas empresas, aplica los conocimientos adquiridos en sociología, derecho laboral, publicidad, procesos, calidad, mercadotecnia y comercio internacional entre otras, para diseñar procesos de mayor eficiencia, en áreas relacionadas con ventas, compras, producción, planeación y vinculación, manejo de roles de grupo y equipos de trabajo.</p>
          <p>
            <a class="button icon ion-home" href="#/tab/home"> Home</a>
            <a class="button icon ion-chevron-right" href="#/tab/facts7">Ing.Mecatrónica</a>
          </p>
        </ion-content>
        </ion-view>