 <title>Grafico</title>
  <head>
    
</head>

<body>
<div class="contentfinal">
<h2>Porcentajes</h2></div>

 <a class="button icon ion-arrow-down-c" ng-click="porcentaje()" >Muestrame los resultados</a>
<a class="button icon ion-compose" ng-click="limpiar()" href="#/tab/navstack" >Continuar con el test</a><p>
<div id="content"><br />
<output id="showme1"></output>
<output id="showme2"></output>
<output id="showme3"></output><br />
<output id="showme4"></output>
<output id="showme5"></output>
<output id="showme6"></output><br />
<output id="showme7"></output>
<output id="showme8"></output>
<output id="showme9"></output><br />
<output id="showme10"></output>
<output id="showme11"></output>
<output id="showme12"></output><br />
<output id="showme13"></output>
<output id="showme14"></output>
<output id="showme15"></output><br />
<output id="showme16"></output>
<output id="showme17"></output>
<output id="showme18"></output><br />
<output id="showme19"></output>
<output id="showme20"></output>
<output id="showme21"></output><br />
 </div>   
  </div>  
  </body>
</html>
