

<ion-view view-title="Tes vocacional-Vocare">
    
         
<ion-slide-box active-slide="myActiveSlide">

  <ion-slide ng-repeat="n in preguntas" >

  <IMG SRC="img/c.jpg" WIDTH=60 HEIGHT=65 BORDER=2>
  
<h2 ng-show="showme">This is mah content, yo!</h2>
    <div ><h4>{{n.pregun}}</h4>




<!--sistemas-->

      <ion-radio  ng-value="'A'" ng-click="seleccion(n.id_carrera)" >Me interesa</ion-radio>
      <ion-radio ng-value="'B'"  >No me interesa</ion-radio>

    </div>
  </ion-slide>
  


</ion-slide-box>
  

 
  
      </ion-view>

