/* Empty. Add your own CSS if you like */
/* font ,color and align*/
.serif {
    font-family: 'Droid Sans', sans-serif;
    color: green;
    text-align: center;

}
/*   size of slide*/
.slider {
  height: 100%;

}

/* properties of the slides*/
.slider-slide {
  padding-top: 100px;
  color: #000;
  background-color: yellow;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

/* image ,background the tab home*/
.signup-background {
    background-image: url('../img/logo.PNG')
}

/* prompter of the mouse*/
body {
  cursor: url('../img/finger.png'), auto;
}


.contentfinal{

margin-top: 65px;
}
